page-menu {
  #Medicament {
display: block;
margin: 20px auto;
padding: 10px;
  }

  #Praticien {
display: block;
margin: 20px auto;
padding: 10px;
  }

#consulterRapportVisite{
display: block;
margin: 20px auto;
padding: 10px;
}

#Visiteur{
display: block;
margin: 20px auto;
padding: 10px;
}

#ConsulteruneNote{
  display: block;
  margin: 20px auto;
  padding: 10px;


}


}
